body {
    background-color: #008080;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#title {
    text-align: center;
    color: white;
}

main {
    background-color: white;
    border-radius: 10px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20%;
    padding-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

footer {
    text-align: center;
}

textarea,
select,
button {
    width: 100px;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#description {
    font-weight: bold;
}

.form-control {
    height: 25px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
}

#submit {
    background-color: #008080;
    color: white;
    font-size: 19px;
}